@use "../util/" as *;

@include breakpoint-mobile(large) {
  .main {
    gap: 2rem;
    border-radius: 0;
    flex-direction: column-reverse;

    &-section {
      padding: 1rem;
      max-width: 100%;
    }

    &-side {
      .image {
        width: 100%;
        content: url("../../app/assets/images/illustration-sign-up-mobile.svg");
      }
    }
  }

  .success-modal {
    min-width: 20rem;
    height: 80vh;
    border-radius: 0.313rem;
    padding: 5rem 2rem 3rem 2rem;
    justify-content: space-between;
  }
}
