@media screen and (max-width: 845px) {
  .main {
    gap: 2rem;
    border-radius: 0;
    flex-direction: column-reverse;

    &-section {
      padding: 1rem;
    }

    &-side {
      .image {
        width: 100%;
        content: url("../../assets/images/illustration-sign-up-mobile.svg");
      }
    }
  }

  .success-modal {
    height: 80vh;
    padding: 5rem 2rem 3rem 2rem;
    justify-content: space-between;
  }
}
