html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  list-style-image: url("../../assets/images/icon-list.svg");
}

img {
  display: block;
  max-width: 100%;
}

button {
  -webkit-tap-highlight-color: transparent;
}

button:active,
button:focus {
  -webkit-tap-highlight-color: transparent;
}
