:root {
    --max-width: 90rem;
    --min-width: 20rem;

    --clr-tomato: hsl(4, 100%, 67%);
    --clr-dark-gray: hsl(234, 29%, 20%);
    --clr-charcoal-grey: hsl(235, 18%, 26%);
    --clr-grey: hsl(231, 7%, 60%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-bold: "Roboto-Bold", sans-serif;
    --ff-reg: "Roboto-Regular", sans-serif;
}